.reviews-section {
    padding: 100px 0;
    text-align: center;

  }
  
  .section-heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color:#3ea2e0 ;
  }
  
  .reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .review-card {
    flex: 1;
    max-width: 400px;
    background-color: #1A0128;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .student-name {
    font-size: 16px;
    font-weight: bold;
  }
  